@model Vidly.ViewModels.MoviesViewModel
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Single item rendering -->
@if (Model.CurrentMovieId != null)
{
	foreach ( var movie in Model.Movies )
	{
		<a href='/movies/'>Back</a>
		<h1>@movie.Name</h1>
		<small>Categeory: @movie.Category </small>
		<p>@movie.Description</p>
	}
}

<!-- Single item rendering -->
@if (Model.CurrentMovieId == null)
{
	foreach ( var movie in Model.Movies )
	{
		<h1>@Html.ActionLink(movie.Name, String.Format("/{0}", movie.Id))</h1>
		<p>Categeory: @movie.Category</p>
	}
}
