@model Vidly.ViewModels.MoviesViewModel
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (String.IsNullOrEmpty(Request.Params["categeory"]))
{
	<form action="/movies">
		<input type="text" placeholder="Categeory" name="categeory">
		<button>Search</button>
	</form>
	foreach ( var movie in Model.Movies )
	{
		<h1>@Html.ActionLink(movie.Name, String.Format("/Show/{0}", movie.Id))</h1>
		<p>Categeory: @movie.Category</p>
	}
}
else{
	<h3>Searching by @Request.Params["categeory"]</h3>
	<a href="/movies">Clear search</a>
	foreach ( var movie in Model.Movies )
	{
		if (movie.Category.ToLowerInvariant() == Request.Params["categeory"].ToLowerInvariant())
		{
			<h1>@Html.ActionLink(movie.Name, String.Format("/Show/{0}", movie.Id))</h1>
			<p>Categeory: @movie.Category</p>
		}
	}
}
