@model List<Vidly.Models.Movie>
@{
    ViewBag.Title = "Search for " + Request.Params["value"];
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Html.Partial("~/Views/Partials/SearchBar.cshtml")
<h3>Searching @(Request.Params["searchBy"]) for @Request.Params["value"]</h3>
<a href="/movies">Clear search</a>
@if (Model.Count < 1)
{
	<p>No movie found :(</p>
}
@{
	foreach ( var movie in Model )
	{
		<h1>@Html.ActionLink(movie.Name, String.Format("/Show/{0}", movie.Id))</h1>
		<p>Categeory: @movie.Category</p>
	}
}